{% extends 'base.html' %}

{% block style %}
<title>Alterar User</title>
<style type="text/css">
        #menu{
            background-color: #E3B601;
            color: #141313;
            text-align: center;
            height: 128px;
            padding-top: 35px;
            margin: auto;
            font-size: 2.5em;
        }
        #cadastro{
            display: block;
            text-align: center;
            padding: auto 15px;
            margin: 5px;
        }
        .distancia{
            margin: 8px;
        }
        h1{
            padding: 15px;
        }
        .messages {
            margin-bottom: 20px;
        }     
        .alert {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .alert.error {
            color: #721c24;
        }
        .alert.success {
            color: #088D93;
        }
    </style>
{% endblock %}

{% block conteudo %}
<body>
    <form action="{% url 'update_user' %}" method="post">
        {% csrf_token %}
        <div class="distancia">
            Nome<br><input name="nome" class="form-control-sm" type="text" value="{{ usuario.name }}">
        </div>
        <div class="distancia">
            Email<br><input name="email" class="form-control-sm" type="text" value="{{ usuario.email }}">
        </div>
        <div class="distancia">
            Idade<br><input name="idade" class="form-control-sm" type="text" value="{{ usuario.age }}">
        </div>
        <div class="distancia">
            Nova senha<br><input id="senha" name="senha" class="form-control-sm" type="password">
        </div>
        <div class="distancia">
            Confirmar Senha<br><input id="confirmar_senha" class="form-control-sm" type="password">
        </div>
        <br>
        <button type="submit">Atualizar</button>
    </form>
{% endblock %}