{% extends 'base.html' %}
{% block style %}
<title>Pesquisar Usuário</title>
{% endblock %}
{% block conteudo %}
    <body>
        {% csrf_token %}
        <div class="container">
            <table class="table table-bordered table-strip">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Idade</th>
                </tr>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.age}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}